<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>eStartup Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">CodeLads</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Collaboration has never been easier...</h1>
      <h2>CodeLads provides an instant online IDE perfect for partnered assignments.</h2>
      <img src="img/hero-img.png" alt="Hero Imgs">
      <a href="" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <!--==========================
    Features Section
  ============================-->
  <section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Features </h2>
        <p class="separator">what makes this service ideal for student collaboration.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">

            <img src="img/svg/network.png" alt="img" class="img-fluid">
            <h4>Code synchronization</h4>
            <p>Code at the same time with your fellow CodeLads.</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">

            <img src="img/svg/syntax.png" alt="img" class="img-fluid">
            <h4>syntax highlighting</h4>
            <p>Color-coded syntax for clear, readable code.</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">

            <img src="img/svg/folder.png" alt="img" class="img-fluid">
            <h4>File storage</h4>
            <p>Access and share your project files easily.</p>

          </div>
        </div>
        
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">

            <img src="img/svg/terminal.svg" alt="img" class="img-fluid">
            <h4>in-built terminal</h4>
            <p>Coming soon!</p>

          </div>
        </div>

      </div>
    </div>

  </section>

  <!--==========================
    Team Section
  ============================-->
  <section id="team" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Team Members</h2>
        <p class="separator">the wonderful people that made this possible.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

       <div class="col-md-4 col-lg-4">
          <div class="team-block bottom">
            <img src="" class="img-responsive" alt="img">
            <div class="team-content">
              <span>Backend</span>
              <h4>Isaac Velasquez</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="team-block bottom">
            <img src="" class="img-responsive" alt="img">
            <div class="team-content">
              <span>Backend</span>
              <h4>Justin Son</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="team-block bottom">
            <img src="" class="img-responsive" alt="img">
            <div class="team-content">
              <span>Frontend</span>
              <h4>Justin Yi</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Us</h2>
        <p class="separator">Run into any bugs or issues? Want to give feedback? We'd love to hear from you.</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/modal-video/js/modal-video.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
