extends layout

block content
  h1=Documents
  ul.list-group
    each doc, i in docs
      li.list-group-item
        a.btn.btn-default(href='/docs/'+name+'/edit/'+doc._id)=doc.docname
        b &nbsp;
        a.btn.btn-danger.delete-doc(href='#', data-id=doc._id, name-id=name)="DELETE"
  a(href='/docs/'+name+'/add')="Add new document"
