extends layout

block content
  header.page-header.header.container-fluid
    .description
      h3 Collaboration has never been easier.
      p
        | CodeLads gives you an instant online IDE that removes the need to physically be with your partner.
      a(href='/test')="Try it out for yourself!"

      
