<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeLads Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Frontend/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Frontend/bootstrap/css/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="landing.html">
            CodeLads
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header header container-fluid">
        <div class="description">
            <h3>Collaboration has never been easier.</h3>
            <p>CodeLads gives you an instant online IDE that removes the need to physically be with your partner.</p>
        </div>
        <!--
        <div class="signup">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Sign up</button>
        </div>
        -->
    </header>
    <script src="./../Frontend/jquery-3.4.1.js"></script>
    <script src="./../Frontend/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
