doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title="CodeLads"
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
    link(href='/img/favicon.png' rel='icon')
    link(href='/img/apple-touch-icon.png' rel='apple-touch-icon')
    //Stuff I added that may or may not be needed idk let's figure it out later
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
    link(href='/lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
    link(href='/lib/owlcarousel/assets/owl.theme.default.min.css' rel='stylesheet')
    link(href='/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
    link(href='/lib/animate/animate.min.css' rel='stylesheet')
    link(href='/lib/modal-video/css/modal-video.min.css' rel='stylesheet')
  body
//
  header#header.header.header-hide
  .container
    #logo.pull-left
      h1
        a.scrollto(href='/') CodeLads
    nav#nav-menu-container
      ul.nav-menu
        li.menu-active
          a(href='#hero') Home
        li
          a(href='#features') Features
        li
          a(href='#team') Team
        li
          a(href='#contact') Contact Us
        li
          a(href='/users/login') Log In
//
  nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand.collapse.navbar-collapse(href='/') CodeLads
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        .btn.btn-sm.navbar-btn.glyphicon.glyphicon-wrench.pull-left
        li
            a(href='/users/register')
                span.glyphicon.glyphicon-user
        li
            a(href='/users/login')
                span.glyphicon.glyphicon-log-in
a.navbar-brand.collapse.navbar-collapse(href='/') Logout
br
br
br
.container
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="aler alert-danger") #{error.msg}
      br
  block content
  br
  hr
  footer
    p Copyright &copy; 2019
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
//script(src='/jquery/jquery.js')
//script(src='/bootstrap/js/bootstrap.js')
script(src='/js/main.js')

